.aboutme-container {
  padding: 1rem; /* Padding reducido */
  background-color: #f5f5f5; /* Fondo gris muy claro */
  margin-top: 100px;
}

.aboutme-box {
  max-width: 960px;
  margin: 0 auto;
}

.dashboard-section {
  margin: 1.5rem 0; /* Margen vertical reducido */
}

.dashboard-section h3 {
  font-size: 1.25rem;
  margin-bottom: 0.75rem; /* Margen inferior reducido */
  color: #212529; /* Color de texto oscuro */
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem; /* Espacio reducido entre ítems */
}

.skills-list li {
  display: flex;
  align-items: center;
  background-color: #ffffff; /* Fondo blanco */
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem; /* Padding reducido */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  flex: 1 1 calc(33.333% - 0.5rem); /* Tres ítems por fila */
  font-size: 0.875rem;
}

.skill-icon {
  width: 25px; /* Tamaño reducido */
  height: auto;
  margin-right: 0.5rem;
}

.experience-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem; /* Espacio reducido entre tarjetas */
}

.experience-card {
  background-color: #ffffff; /* Fondo blanco */
  border-radius: 0.25rem;
  padding: 0.75rem; /* Padding reducido */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  flex: 1 1 calc(50% - 0.5rem); /* Dos tarjetas por fila */
  margin-top: 0.75rem; /* Margen superior reducido */
}

.experience-card h2 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.experience-card h5 {
  font-size: 0.75rem;
  color: #6c757d; /* Color de texto secundario */
}

.experience-card h6 {
  font-size: 0.6875rem;
  margin-bottom: 0.5rem;
  color: #495057; /* Color de texto */
}

.experience-card p {
  font-size: 0.75rem;
  line-height: 1.4;
  color: #212529; /* Color del texto */
}
