/* ContactPort.css */
.contact-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  margin-top: 80px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  background: linear-gradient(
    135deg,
    #1e2a38,
    #2c3e50
  ); /* Fondo degradado oscuro azul */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  color: #fff;
}

.contact-container h2 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: 700;
}

.contact-container p {
  margin-bottom: 2rem;
  font-size: 1.1rem;
  line-height: 1.6;
}

.contact-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
  justify-content: center;
}

.contact-card {
  background-color: #34495e; /* Fondo de las tarjetas */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  text-align: center;
  transition: background-color 0.3s, transform 0.3s;
}

.contact-card:hover {
  background-color: #2c3e50;
  transform: scale(1.05);
}

.contact-button {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: #2980b9; /* Color de fondo del botón */
  border: none;
  border-radius: 8px;
  padding: 0.75rem 1.25rem;
  font-size: 0.875rem;
  font-weight: 600;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.contact-button:hover {
  background-color: #1f6f9f;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.contact-icon {
  font-size: 1.75rem;
  margin-right: 0.5rem;
}
