/* Estilo para el Navbar */
.custom-navbar {
  background: linear-gradient(
    120deg,
    #2c3e50,
    /* Color de inicio del degradado */ #3498db,
    /* Primer tono de azul */ #2980b9 /* Segundo tono de azul */
  );
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  padding: 10px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: black;
}

.navbar-nav {
  flex-direction: row;
  align-items: center;
}

.custom-nav-link {
  color: #ecf0f1;
  font-size: 1.1rem;
  font-weight: 500;
  text-transform: uppercase;
  background: none;
  border: none;
  border-radius: 0;
  transition: color 0.2s ease, transform 0.2s ease;
  font-family: "Poppins", sans-serif;
}

.navbar-nav .nav-item {
  margin: 0 1.5rem;
}

.custom-nav-link:hover,
.custom-nav-link:focus {
  color: #000000;
  transform: scale(1.05);
  outline: none;
}

/* Establece el cuerpo de la página para tener una altura mínima de 100vh */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden; /* Evita scroll horizontal */
}
