/* Estilo para el Navbar */
.custom-navbar {
  background-color: #2c3e50;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  padding: 10px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-nav {
  flex-direction: row;
  align-items: center;
}

.custom-nav-link {
  color: #ecf0f1;
  font-size: 1.1rem;
  font-weight: 500;
  text-transform: uppercase;
  background: none;
  border: none;
  border-radius: 0;
  transition: color 0.2s ease, transform 0.2s ease;
  font-family: "Poppins", sans-serif;
}

.navbar-nav .nav-item {
  margin: 0 1.5rem;
}

.custom-nav-link:hover,
.custom-nav-link:focus {
  color: #3498db;
  transform: scale(1.05);
  outline: none;
}
