/* Estilos generales de la aplicación */
.App-header {
  background: linear-gradient(
    120deg,
    #e0eafc,
    #cfdef3
  ); /* Fondo degradado suave */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  box-shadow: none;
  border: none;
  overflow: hidden; /* Oculta el scroll en el contenedor principal */
}

/* Sección principal del perfil */
.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: 100%; /* Asegura que la sección use el ancho completo del contenedor */
}

/* Contenedor del perfil */
.profile-container {
  display: flex;
  flex-direction: row; /* Imagen a la izquierda del texto */
  align-items: center;
  justify-content: center;
  gap: 20px;
  max-width: 800px;
  width: 100%; /* Asegura que el contenedor use el ancho completo */
  margin: 0 auto;
  text-align: left;
  overflow: hidden; /* Oculta el scroll en el contenedor del perfil */
}

/* Imagen de perfil */
.profile-picture {
  width: 250px;
  height: 350px;
  border-radius: 0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efecto hover para la imagen */
.profile-picture:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

/* Texto del perfil */
.profile-text {
  max-width: 500px;
  color: #333;
  line-height: 1.6;
  font-size: 1rem;
}

/* Estilo para el título y párrafos */
.profile-text h2 {
  color: #333;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.profile-text p {
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

/* Responsive para pantallas pequeñas */
@media (max-width: 768px) {
  .profile-container {
    margin-top: 70px;
    width: 100%;
    overflow: hidden;
    flex-direction: column; /* Imagen arriba del texto en pantallas pequeñas */
    text-align: center;
  }

  .profile-picture {
    width: 150px;
    height: 250px;
  }

  .profile-text {
    font-size: 0.9rem;
  }

  .profile-text h2 {
    font-size: 1.5rem;
  }
}
