.App-header {
  background-color: #d5d8e6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 1.5vmin);
  color: #000000;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  box-shadow: none; /* Eliminar la sombra */
  border: none; /* Asegurarse de que no haya bordes */
}

/* Estilo para la sección de perfil */
.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px; /* Aumentamos el espacio entre imagen y texto */
  margin: 20px 0; /* Añadimos margen para mayor separación */
}

/* Imagen de perfil */
.profile-picture {
  width: 250px;
  height: 350px;
  border-radius: 2x;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efecto hover para la imagen */
.profile-picture:hover {
  transform: scale(1.05); /* Aumenta ligeramente el tamaño */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5); /* Sombras más intensas */
}

/* Texto del perfil */
.profile-text {
  max-width: 500px;
  text-align: left;
  color: #000000; /* Color más suave para el texto */
  line-height: 1.6;
  font-size: 1.1rem; /* Tamaño de fuente ligeramente mayor */
}

/* Estilo para el título y párrafos */
.profile-text h2 {
  color: #000000;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.profile-text p {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: #000000;
}

/* Responsive para pantallas pequeñas */
@media (max-width: 576px) {
  .profile-container {
    flex-direction: column;
    text-align: center;
    gap: 20px; /* Menos espacio en pantallas pequeñas */
  }

  .profile-picture {
    width: 200px;
    height: 300px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }

  .profile-text {
    text-align: center;
    font-size: 1rem;
  }

  .profile-text h2 {
    font-size: 1.8rem;
  }
}
